.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
  }

.form {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 0.5remf;
    padding: 0.5rem;
    background-color: rgb(248, 235, 216);
    margin-top: 5rem;
    width: 40rem;
}

input, select, textarea {
    margin-bottom: 1rem;
}

label {
    margin-bottom: 0.25rem;
}
