
.loction-region {
    display: flex;
    justify-content: space-between;
    font-style: italic;
    font-weight: bold;
  }
  
  .cavecard {
    font-family: Arial, Helvetica, sans-serif;
      max-width: 75vh;
      background-color: rgb(251, 247, 241);
      border: 1px solid black;
      padding: 1rem;
      margin: 1rem;
      border-radius: 0.5rem;
      height: 40rem;
  }
  
  .caveCardImage {
      max-width: 100%;
      border-radius: 0.25rem;
  }

  .cavecard:hover {
    background-color: rgb(248, 235, 216);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  #descriptionP {
    font-size: large
  }

  .button-grow {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: larger;
  }

  .button-grow:hover {
    transform: scale(2.1);
  }

  .card-buttons {
    display: flex;
  }

  .card-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }